<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our journey</h2>
                    <p><br></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <a class="page-scroll" href="#description">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                            </a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>25/10/2021</h4>
                                    <h4 class="subheading">Project description</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">M1 - Meet Artistry Hub </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <!-- TO DO - we'll add a link here for M2 -->
                            <a class="page-scroll" href="#m2">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                </div>
                            </a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>08/11/2021</h4>
                                    <h4 class="subheading">Validation 1 (idea)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">M2</p>
                                </div>
                            </div>
                        </li>
                        </ul>
                        <ul class="timeline">
                            <li>
                                 <!-- TO DO - we'll add a link here for M3 -->
                                <a class="page-scroll" href="#m3">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                                    </div>
                                </a>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>15/11/2021</h4>
                                        <h4 class="subheading">Wireframe and Landing Page</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">M3 </p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <!-- TO DO - we'll add a link here for M4 -->
                                <a class="page-scroll" href="#m4">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                                    </div>
                                </a>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>22/11/2021</h4>
                                        <h4 class="subheading">UX</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">M4</p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <ul class="timeline">
                            <li>
                                 <!-- TO DO - we'll add a link here for M5 -->
                                <a class="page-scroll" href="#m5">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                                    </div>
                                </a>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>06/12/2021</h4>
                                        <h4 class="subheading">Validation 2</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">M5 </p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <!-- TO DO - we'll add a link here for M6 -->
                                <a class="page-scroll" href="#m6">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                    </div>
                                </a>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>13/12/2021</h4>
                                        <h4 class="subheading">Market Research</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">M6</p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <ul class="timeline">
                            <li>
                                 <!-- TO DO - we'll add a link here for M7 -->
                                <a class="page-scroll" href="#m7">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                    </div>
                                </a>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>10/01/2021</h4>
                                        <h4 class="subheading">M7</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Minimum Viable Product - MVP</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <!-- TO DO - we'll add a link here for M8 -->
                                <a class="page-scroll" href="#about">
                                    <div class="timeline-image">
                                        <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                                    </div>
                                </a>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>10/01/2021</h4>
                                        <h4 class="subheading">M8</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">TBA</p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </ul>
                </div>
            </div>
        </div>
    </section>