<!-- description Section -->
    <section id="description">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Project description</h2>
                    <p><br></p>
                </div>
            </div>

            <!-- Problem -->
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Problem</h4>
                    <p class="text-muted">Nowadays, the art industry became very competitive. Newcomers struggle to make themselves noticed in this industry, many of them having to give up on their talents in orther to blend with the trending requirements.</p>
                    <p class="text-muted">Additionally, there are numerours event organizers interested in offering their customers the best experience and finding suitable live performers in a certain area for their needs is no easy task.</p>
                </div>
                <div class="col-md-2"></div>
            </div>

            <!-- Solution -->
            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="far fa-lightbulb fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Solution</h4>
                    <p class="text-muted">ArtistryHub offers a platform that connects local performers to event organizers in a seamless and reliable way.</p>
                    <p class="text-muted">Performers can showcase their real talents using the application's interface and are able to promote themselves through the application's rating system.</p>
                    <p class="text-muted">Organizers are able to identify local talents by viewing performers' profiles using suitable filters and, then, they can easily book them.</p>
                </div>
                <div class="col-md-2"></div>
            </div>

            <!-- Customer Segments -->
            <div class="row text-center">

                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Customer Segments</h4>
                    <p class="text-muted">On one hand, ArtistryHub offers performers means of promoting themselves and getting in contact with end clients.</p>
                    <p class="text-muted">On the other hand, organizers are able to book performers that suit their needs.</p>
                </div>
                <div class="col-md-2"></div>
            </div> 

            <!-- Competition -->
            <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-award fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Competition</h4>
                    <div class="timeline-image">
                        <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                    </div>
                    <p class="text-muted"><ul>
                        <li> Fiverr</li>
                        <li> Facebook Marketplace</li>
                        <li> OLX</li>
                        <li> UpWork</li></ul></p>
                </div>
                <div class="col-md-4"></div>
            </div>
            
             <!-- Advantages -->
             <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Advantages</h4>
                    <p class="text-muted"><ul>
                        <li>Easy to find local talents</li>
                        <li>Dedicated platform which fullfills both the performers' and organizers' needs.</li>
                        <li>Easily start a collaboration</li>
                        <li>Intuitive user experience with relevant ratings and filters</li></ul></p>
                </div>
                <div class="col-md-4"></div>
            </div>

            <!-- Key Metrics -->
            <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Key Metrics</h4>
                    <p class="text-muted"><ul>
                        <li> Application traffic</li>
                        <li> Registered users</li>
                        <li> Successful collaboration</li>
                        <li> Long-term retention</li>
                        <li> Data analytics</li>
                        <li> Revenue</li>
                        <li> Impact in the art industry</li></ul></p>
                </div>
                <div class="col-md-4"></div>
            </div>

            <!-- Cost Structure -->
            <div class="row text-center">    
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-piggy-bank fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cost Structure</h4>
                    <p class="text-muted"><ul>
                        <li>Software development</li>
                        <li>Software infrastructure</li>
                        <li>Marketing</li>
                        <li>Cloud</li>
                        <li>Research on customer's needs</li>
                        <li>Data analysis</li></ul></p>
                </div>
                <div class="col-md-4"></div>
            </div> 
            
             <!-- Revenue streams -->
             <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-search-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Revenue streams</h4>
                    <p class="text-muted">
                        <li>- successful booking fees</li>
                        <li> ads</li>
                        <li>premmium accounts</li>
                        <li>sponsored offers</li>
                        <li>subscription options</li></ul></p>
                </div>
                <div class="col-md-4"></div>
            </div>
            <!-- <div class="row text-center">
                <div class="row">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Problem</h4>
                    <p class="text-muted">Nowadays, the art industry became very competitive. Newcomers struggle to make themselves noticed in this industry, many of them having to give up on their talents in orther to blend with the trending requirements.</p>
                    <p class="text-muted">Additionally, there are numerours event organizers interested in offering their customers the best experience and finding suitable live performers in a certain area for their needs is no easy task.</p>
                </div>
                <div class="row">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="far fa-lightbulb fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Solution</h4>
                    <p class="text-muted">ArtistryHub offers a platform that connects local performers to event organizers in a seamless and reliable way.</p>
                    <p class="text-muted">Performers can showcase their real talents using the application's interface and are able to promote themselves through the application's rating system.</p>
                    <p class="text-muted">Organizers are able to identify local talents by viewing performers' profiles using suitable filters and, then, they can easily book them.</p>
                </div>
                <div class="row">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Customer Segments</h4>
                    <p class="text-muted">On one hand, ArtistryHub offers performers means of promoting themselves and getting in contact with end clients.</p>
                    <p class="text-muted">On the other hand, organizers are able to book performers that suit their needs.</p>
                </div>
                <div class="row">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-piggy-bank fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cost Structure</h4>
                    <p class="text-muted"> - Software development
                        - Software infrastructure
                        - Marketing
                        - Cloud
                        - Research on customer's needs
                        - Data analysis</p>
                </div>
                <div class="row">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="far fa-chart-bar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Key Metrics</h4>
                    <p class="text-muted">       
                         - Application traffic
                        - Registered users
                        - Successful collaboration
                        - Long-term retention
                        - Data analytics
                        - Revenue
                        - Impact in the art industry</p>
                    <p class="text-muted"> 
                        <ol>

                             
                        <li> Application traffic</li>
                        <li> Registered users</li>
                        <li> Successful collaboration</li>
                        <li> Long-term retention</li>
                        <li> Data analytics</li>
                        <li> Revenue</li>
                        <li> Impact in the art industry</li></ol></p>
                    <ol><p class="text-muted"> 

                             
                        <li> Application traffic</li>
                        <li> Registered users</li>
                        <li> Successful collaboration</li>
                        <li> Long-term retention</li>
                        <li> Data analytics</li>
                        <li> Revenue</li>
                        <li> Impact in the art industry</li></p></ol>

                </div>
                <div class="row">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-award fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Competition</h4>
                    <p class="text-muted">- Fiverr, Facebook Marketplace, OLX, UpWork</p>
                </div>
                <div class="row">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Advantages</h4>
                    <p class="text-muted"> - Easy to find local talents
                        - Dedicated platform which fullfills both the performers' and organizers' needs.
                        - Easily start a collaboration
                        - Intuitive user experience with relevant ratings and filters</p>
                </div>
                <div class="row">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-search-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Revenue streams</h4>
                    <p class="text-muted">- successful booking fees
                        - ads
                        - premmium accounts
                        - subscription options
                        - sponsored offers</p>
                </div>
            </div> -->
        </div>
    </section>