<!-- description Section -->
    <section id="m2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">M2 - Idea validation</h2>
                    <p><br></p>
                </div>
            </div>

            <!-- Problem -->
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Initial problem</h4>
                    <p class="text-muted">How was the problem identified?</p>
                </div>
                <div class="col-md-2"></div>
            </div>

            <!-- Solution -->
            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="far fa-lightbulb fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Initial solution</h4>
                    <p class="text-muted">Initial solution we proposed.</p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-align-justify fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Plan description</h4>
                    <p class="text-muted">Our approach - interviews, survey, etc.</p>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Interviews</h4>
                    <p class="text-muted">We talked to a few artists in order to validate the problem from their point of view. One of the interviews we conducted was with a local photographer who described to us how the process of finding customers usually works for him, highlighting the  <b> ups and downs </b> of this process and what can be improved in the future. 
                    </p>
                    <p class="text-muted">Performers can showcase their real talents using the application's interface and are able to promote themselves through the application's rating system.</p>
                    <p class="text-muted">Organizers are able to identify local talents by viewing performers' profiles using suitable filters and, then, they can easily book them.</p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Interviews - Vlad - todo insert interviews</h4>
                    <!-- <p class="text-muted">ArtistryHub offers a platform that connects local performers to event organizers in a seamless and reliable way.</p>
                    <p class="text-muted">Performers can showcase their real talents using the application's interface and are able to promote themselves through the application's rating system.</p>
                    <p class="text-muted">Organizers are able to identify local talents by viewing performers' profiles using suitable filters and, then, they can easily book them.</p> -->
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Formular - organizatori</h4>
                    <!-- <p class="text-muted">ArtistryHub offers a platform that connects local performers to event organizers in a seamless and reliable way.</p>
                    <p class="text-muted">Performers can showcase their real talents using the application's interface and are able to promote themselves through the application's rating system.</p>
                    <p class="text-muted">Organizers are able to identify local talents by viewing performers' profiles using suitable filters and, then, they can easily book them.</p> -->
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Formular - artisti</h4>
                    <!-- <p class="text-muted">ArtistryHub offers a platform that connects local performers to event organizers in a seamless and reliable way.</p>
                    <p class="text-muted">Performers can showcase their real talents using the application's interface and are able to promote themselves through the application's rating system.</p>
                    <p class="text-muted">Organizers are able to identify local talents by viewing performers' profiles using suitable filters and, then, they can easily book them.</p> -->
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="far fa-lightbulb fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Concluzii + subconcluzii</h4>
                    <!-- <p class="text-muted">ArtistryHub offers a platform that connects local performers to event organizers in a seamless and reliable way.</p>
                    <p class="text-muted">Performers can showcase their real talents using the application's interface and are able to promote themselves through the application's rating system.</p>
                    <p class="text-muted">Organizers are able to identify local talents by viewing performers' profiles using suitable filters and, then, they can easily book them.</p> -->
                </div>
                <div class="col-md-2"></div>
            </div>
