<!-- description Section -->
    <section id="m2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">M2 - Idea validation</h2>
                    <p><br></p>
                </div>
            </div>

            <!-- Problem -->
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Initial problem</h4>
                    <p class="text-muted">How was the problem identified?</p>
                </div>
                <div class="col-md-2"></div>
            </div>

            <!-- Solution -->
            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="far fa-lightbulb fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Initial solution</h4>
                    <p class="text-muted">Initial solution we proposed.</p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-align-justify fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Plan description</h4>
                    <p class="text-muted">Our approach - interviews, survey, etc.</p>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Interviews - local photographer insights</h4>
                    <p class="text-muted">We talked to a few artists in order to validate the problem from their point of view. One of the interviews we conducted was with a local photographer who described to us how the process of finding customers usually works for him, highlighting the  <b> ups and downs </b> of this process and what can be improved in the future. 
                    </p>
                    <p class="text-muted">Although for him the existence of this kind of platform is not a copulsory requirment, because the number of events he has is already enough, the idea of using our platform in the future is still of interest to him, given the fact that the way he currently finds his customers - which is through referrals - might become unuseful.</p>
                    <p class="text-muted">Another important point he made was the fact that, for him, the most useful feature of such platform is the fact that the artists should be able to create their own presentation portofolios, in order to highlight their work.</p>
                    <img src="img/interviews/interview_Maria.png" class="img-centered" alt="">
                    <p class="text-muted">All things taken into consideration, we discovered that some potential customers might be the local artists whose main difficulty is to create a network of clients for themselves and they need a means of becoming more known among their community. Furthermore, our idea seemed to be quite irrelevant for the well-established artists, whose schedule is already full. From the artists point of view, the main aim of our application is to help them gain some exposure.</p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Interviews - Vlad - todo insert interviews</h4>
                    <!-- <p class="text-muted">ArtistryHub offers a platform that connects local performers to event organizers in a seamless and reliable way.</p>
                    <p class="text-muted">Performers can showcase their real talents using the application's interface and are able to promote themselves through the application's rating system.</p>
                    <p class="text-muted">Organizers are able to identify local talents by viewing performers' profiles using suitable filters and, then, they can easily book them.</p> -->
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Organizers form</h4>
                    <p class="text-muted">We created a form for event organizers that we shared on multiple platforms, including Whatsapp and Facebook groups.
                        Unfortunately, our survey was not accepted on some of the groups, probably because it was considered spam.</p>
                    <img src="img/form_organizers/form_fb_maria.png" class="img-centered" alt="">
                    <img src="img/form_organizers/form_fb_david.png" class="img-centered" alt="">
                    <p class="text-muted">However, we managed to receive 20 answers from event organizers, most of them being individuals.
                        Also, there were more people that organized events than artists that completed the survey, which is expected, as the same artists take part in different events.</p>
                    <img src="img/form_organizers/form_organizers_category.png" class="img-centered" alt="">
                    <p class="text-muted">The event organizers mostly contacted DJs and photographers, but other kind of artists were contacted as well.</p>
                    <img src="img/form_organizers/form_contacted_artists.png" class="img-centered" alt="">
                    <p class="text-muted">We can see that most artists are contacted through phone calls or messages on social media platforms. Also, most of the contacted artists are well known locally.</p>
                    <img src="img/form_organizers/form_communication.png" class="img-centered" alt="">
                    <img src="img/form_organizers/form_well_known.png" class="img-centered" alt="">
                    <img src="img/form_organizers/form_variety.png" class="img-centered" alt="">
                    <p class="text-muted">It seems that the event organizers either use social media platforms to meet and contact new artists or they don't use any app at all.</p>
                    <img src="img/form_organizers/form_app_meet.png" class="img-centered" alt="">
                    <img src="img/form_organizers/form_app_contact.png" class="img-centered" alt="">
                    <p class="text-muted">Also, the need for artists is not very frequent, while the most important factor taken into account when contacting them is the personal budget.</p>
                    <img src="img/form_organizers/form_frequency_binary.png" class="img-centered" alt="">
                    <img src="img/form_organizers/form_frequency.png" class="img-centered" alt="">
                    <p class="text-muted">The most frequent shortcoming encountered when contacting artists seem to be the time of response or the lack of response from them, but other shortcomings were presented too.
                        Also, if the event organizers are pleased with an artist's performance, they usually collaborate with them again in the future.</p>
                    <img src="img/form_organizers/form_shortcomings.png" class="img-centered" alt="">
                    <img src="img/form_organizers/form_collaborate_again.png" class="img-centered" alt="">
                    <p class="text-muted">From the answers received, it looks like the ArtistryHub app would be well received, no matter if it would be a mobile or web app. Also, all of its main features would be appreciated.</p>
                    <img src="img/form_organizers/form_usefulness.png" class="img-centered" alt="">
                    <img src="img/form_organizers/form_mobile_or_web.png" class="img-centered" alt="">
                    <img src="img/form_organizers/form_features.png" class="img-centered" alt="">
                    <p class="text-muted">Given all of the received answers from the event organizers, we identified a pattern that allowed us to see how useful the ArtistryHub app would be.
                        Most of the organizers contact local artists from time to time, but they are not happy with their variety, availability and response time.
                        They would like to use a web app where they can filter, review and contact artists, while seeing their availability for a specific time.</p>
                    <p class="text-muted">We strongly believe that we are ready to move to the customer validation stage, as we got enough answers to make a clear picture of the usual users.</p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Formular - artisti</h4>
                    <!-- <p class="text-muted">ArtistryHub offers a platform that connects local performers to event organizers in a seamless and reliable way.</p>
                    <p class="text-muted">Performers can showcase their real talents using the application's interface and are able to promote themselves through the application's rating system.</p>
                    <p class="text-muted">Organizers are able to identify local talents by viewing performers' profiles using suitable filters and, then, they can easily book them.</p> -->
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center"> 
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="far fa-lightbulb fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Concluzii + subconcluzii</h4>
                    <!-- <p class="text-muted">ArtistryHub offers a platform that connects local performers to event organizers in a seamless and reliable way.</p>
                    <p class="text-muted">Performers can showcase their real talents using the application's interface and are able to promote themselves through the application's rating system.</p>
                    <p class="text-muted">Organizers are able to identify local talents by viewing performers' profiles using suitable filters and, then, they can easily book them.</p> -->
                </div>
                <div class="col-md-2"></div>
            </div>
