<!-- description Section -->
    <section id="m3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">M3 - Wireframe and Landing Page</h2>
                    <p><br></p>
                </div>
            </div>

            <!-- Landing Page  -->
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Landing Page</h4>
                    <p class="text-muted">The landing page was created as a standalone web page and contains only two submission forms for either an artist or an event organizer. It is designed to showcase the main functionalities and the purpose of the platform.</p>
                    <img src="img/m3/landing_ss.png" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-2"></div>
            </div>

            <!-- Wireframes -->
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Wireframes</h4>
                    <p class="text-muted">The wireframes have been made using <a href="https://www.figma.com/">Figma</a>. The  ArtistryHub wireframes for event organizers can be found <a href="https://www.figma.com/file/BuxTbCyQykPKbvhQYrUKZx/ArtistryHubWireframe?node-id=0%3A1">here</a> and for artists <a href="https://www.figma.com/file/BuxTbCyQykPKbvhQYrUKZx/ArtistryHubWireframe?node-id=7%3A18">here</a>.</p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <!-- Wireframe Organizer -->
            <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Event organizer</h4>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row text-center">
                <div class="portfolio-caption">
                    <h4><br><br/>Homepage</h4>
                </div>
                <img src="img/m3/wireframes_organizers/Homepage.png" class="img-responsive img-centered" width="1280" height="720" alt="">
            </div>
            <div class="row text-center">
                <div class="portfolio-caption">
                    <h4><br><br/>Signup</h4>
                </div>
                <img src="img/m3/wireframes_organizers/Signup.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="row text-center">
                <div class="portfolio-caption">
                    <h4><br><br/>Home</h4>
                </div>
                <img src="img/m3/wireframes_organizers/Home.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="row text-center">
                <div class="portfolio-caption">
                    <h4><br><br/>Artist page</h4>
                </div>
                <img src="img/m3/wireframes_organizers/Artist page.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="row text-center">
                <div class="portfolio-caption">
                    <h4><br><br/>Add event</h4>
                </div>
                <img src="img/m3/wireframes_organizers/Add event.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="row text-center">
                <div class="portfolio-caption">
                    <h4><br><br/>Current Events</h4>
                </div>
                <img src="img/m3/wireframes_organizers/Current Events.png" class="img-responsive img-centered" alt="">
            </div>
            <!--  Wireframe Artist -->
            <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Artist</h4>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row text-center">
                <div class="portfolio-caption">
                    <h4><br><br/>Homepage</h4>
                </div>
                <img src="img/m3/wireframes_artists/Homepage.png" class="img-responsive img-centered" width="1280" height="720" alt="">
            </div>
            <div class="row text-center">
                <div class="portfolio-caption">
                    <h4><br><br/>Signup</h4>
                </div>
                <img src="img/m3/wireframes_artists/Signup.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="row text-center">
                <div class="portfolio-caption">
                    <h4><br><br/>Profile</h4>
                </div>
                <img src="img/m3/wireframes_artists/Profile.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="row text-center">
                <div class="portfolio-caption">
                    <h4><br><br/>Home</h4>
                </div>
                <img src="img/m3/wireframes_artists/Home.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="row text-center">
                <div class="portfolio-caption">
                    <h4><br><br/>Requests</h4>
                </div>
                <img src="img/m3/wireframes_artists/Requests.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="row text-center">
                <div class="portfolio-caption">
                    <h4><br><br/>My Events</h4>
                </div>
                <img src="img/m3/wireframes_artists/My Events.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="row text-center">
                <div class="portfolio-caption">
                    <h4><br><br/>Newsfeed</h4>
                </div>
                <img src="img/m3/wireframes_artists/Newsfeed.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="row text-center">
                <div class="portfolio-caption">
                    <h4><br><br/>Apply page</h4>
                </div>
                <img src="img/m3/wireframes_artists/Apply page.png" class="img-responsive img-centered" alt="">
            </div>
