<!-- description Section -->
<section id="m4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">M4 - UX</h2>
                <p><br></p>
            </div>
        </div>

        <!-- Interviews  -->
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Interviews</h4>
                <p class="text-muted">Questions + people we interviewed + images of their answers.</p>
            </div>
            <div class="col-md-2"></div>
        </div>

        <!-- Wireframes -->
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">User persona</h4>
                <p class="text-muted">Following the interviews and the meetings that we had, we decided to create three user personas: the artist and two types of event organisers, people who need an artist for one-time events, like birthdays, and owners of businesses, who need services offered by artists more often.</p>
                <h4 class="service-heading">Artist</h4>
                <img src="img/m4/persona_artist.png" class="img-responsive img-centered" alt="">
                <h4 class="service-heading">One-time event organiser</h4>
                <img src="img/m4/persona_pers_fizica.png" class="img-responsive img-centered" alt="">
                <h4 class="service-heading">Owner of a business</h4>
                <img src="img/m4/persona_pers_juridica.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-2"></div>
        </div>
        <!-- Wireframe Organizer -->
        <div class="row text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">User stories</h4>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Use cases</h4>
                <p class="text-muted">A use case diagram is a graphical depiction of a user's possible interactions with a system. A use case diagram shows various use cases and different types of users the system has and will often be accompanied by other types of diagrams as well.</p>
                <p class="text-muted">Ce mai vrea sa scrie David pe acia.</p>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">User flows</h4>
                <p class="text-muted">User flows, UX flows, or flowcharts, as they are sometimes called, are diagrams that display the complete path a user takes when using a product. The user flow lays out the user’s movement through the product, mapping out each and every step the user takes—from entry point right through to the final interaction.</p>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Wireframe updates</h4>
            </div>
            <div class="col-md-4"></div>
        </div>
        
