<!-- description Section -->
<section id="m4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">M4 - UX</h2>
                <p><br></p>
            </div>
        </div>

        <!-- Interviews  -->
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Interviews</h4>
                <p class="text-muted">We got 3 face-to-face interviews with potential users and asked them a set of questions in order to understand their problems and needs. The questions were split in two categories: for artists and for event organizers as follows:</p>
                <h4 class="service-heading">Artist</h4>
                <p class="text-muted"><ol>
                    <li class="text-justify">Could you please tell us a bit about yourself?</li>
                    <li class="text-justify">Could you please give us some details about the events in which you usually perform?</li>
                    <li class="text-justify">What methods do you use in order to promote yourself and to get in contact with event organizers?</li>
                    <li class="text-justify">What are the difficulties you have experienced?</li>
                    <li class="text-justify">What would you need in order to get more exposure to the event organizers?</li>
                    
                </ol></p>
                <h4 class="service-heading">Event organizer</h4>
                <p class="text-muted"><ol>
                    <li class="text-justify">What types of artists do you usually need for an event?</li>
                    <li class="text-justify">What methods do you use in order to get in contact with the artists?</li>
                    <li class="text-justify">Do you often need to contact an aritst for your events?</li>
                    <li class="text-justify">What are the most important things you take into consideration when choosing an artist for an event?</li>
                    <li class="text-justify">What are the difficulties you have experienced?</li>
                    <li class="text-justify">What would you need in order to improve the experience of getting an artist for your events?</li>
                </ol></p>

                <h4 class="service-heading">Artist</h4>
                <img src="img/m4/interviews/whatsapp_chat_1.png" class="img-responsive img-centered" alt="">
                <h4 class="service-heading">One-time event organiser</h4>
                <img src="img/m4/interviews/whatsapp_chat_2.png" class="img-responsive img-centered" alt="">
                <h4 class="service-heading">Owner of a business</h4>
                <img src="img/m4/interviews/whatsapp_chat_3.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-2"></div>
        </div>

        <!-- Wireframes -->
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">User persona</h4>
                <p class="text-muted">Following the interviews and the meetings that we had, we decided to create three user personas: the artist and two types of event organisers, people who need an artist for one-time events, like birthdays, and owners of businesses, who need services offered by artists more often.</p>
                <h4 class="service-heading">Artist</h4>
                <img src="img/m4/persona_artist.png" class="img-responsive img-centered" alt="">
                <h4 class="service-heading">One-time event organiser</h4>
                <img src="img/m4/persona_pers_fizica.png" class="img-responsive img-centered" alt="">
                <h4 class="service-heading">Owner of a business</h4>
                <img src="img/m4/persona_persoana_juridica.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-2"></div>
        </div>
        <!-- Wireframe Organizer -->
        <div class="row text-center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">User stories</h4>
                <img src="img/m4/user_stories/p1.png" class="img-responsive img-centered" alt="">
                <img src="img/m4/user_stories/p2.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Use cases</h4>
                <p class="text-muted">A use case diagram is a graphical depiction of a user's possible interactions with a system. A use case diagram shows various use cases and different types of users the system has and will often be accompanied by other types of diagrams as well.</p>
                <p class="text-muted">The use case diagram for the organizers is presented below.</p>
                <img src="img/m4/Use_cases_organizers.drawio.png" class="img-responsive img-centered" alt="">
                <p class="text-muted">The use case diagram for the artists is presented below.</p>
                <img src="img/m4/Use_cases_artists.drawio.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">User flows</h4>
                <p class="text-muted">User flows, UX flows, or flowcharts, as they are sometimes called, are diagrams that display the complete path a user takes when using a product. The user flow lays out the user’s movement through the product, mapping out each and every step the user takes—from entry point right through to the final interaction.</p>
                <p class="text-muted">The user flow diagram for the organizers is presented below.</p>
                <img src="img/m4/User_flow_organizers.drawio.png" class="img-responsive img-centered" alt="">
                <p class="text-muted">The user flow diagram for the artists is presented below.</p>
                <img src="img/m4/User_flow_artists.drawio.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-exclamation fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Wireframe updates</h4>
                <p class="text-muted">After we conducted the interviews with the different possible customers and showed them the wireframes created for the previous milestone, we realized that some things are not properly defined.</p>
                <p class="text-muted">The first thing which needed some improvements was on the artists's profile page. Here, the calendar was initially laid at the bottom of the page, under the presentation videos provided by the artist. We decided to move this calendar on a separate view, so that the two functionalities can be split and the main focus on the first opening of an artist's page can remain on the previous performances and skills.</p>
                <div class="row text-center">
                    <div class="portfolio-caption">
                        <h4><br><br/>Remake of the artist profile page</h4>
                    </div>
                    <img src="img/m4/artist-page-remake.png" class="img-responsive img-centered" alt="">
                </div>
                <div class="row text-center">
                    <div class="portfolio-caption">
                        <h4><br><br/>Remake of the availability page</h4>
                    </div>
                    <img src="img/m4/availability-remake.png" class="img-responsive img-centered" alt="">
                </div>
                <p class="text-muted"></p>
                <p class="text-muted">Another segment of the wireframe which should be modified was in the page where the artist can see the received event requests. 
                    This was a modification requested by one of our potential users which stated that there might be too many mouse clicks in order to accept or reject an received offer. 
                    We managed to keep the design neat and clean, moving the "Event details" button where the date and name of the event are printed and added the buttons for accepting and receiving the invitation to the list of events, as well.
                    In this way, the list of requests works as a scrolable single-page where the expanding and minimizing of the event details is now supported. 
                </p>
                <div class="row text-center">
                    <div class="portfolio-caption">
                        <h4><br><br/>Remake of the requests list page</h4>
                    </div>
                    <img src="img/m4/requests-list-remake.png" class="img-responsive img-centered" alt="">
                </div>
                <div class="row text-center">
                    <div class="portfolio-caption">
                        <h4><br><br/>Remake of the event details page</h4>
                    </div>
                    <img src="img/m4/event-details-remake.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        
