<!-- description Section -->
<section id="m6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">M6 - Market Research</h2>
                <p><br></p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                </span>

                <h4 class="service-heading">Our target market</h4>
                <p class="text-muted">Our customers are split between artists and organizers which are business or individuals that are interested in booking artists for events.</p>
                <p class="text-muted">According to the <a href="https://www.romania-insider.com/how-many-restaurants-does-bucharest-host">statistics</a>, Bucharest hosts over 3400 restaurants, bars and cafes,  with an annual business of EUR 562 million. Also, the capital is the cultural center of Romania with over <a href="https://www.gandul.ro/financiar/cati-artisti-cu-contract-de-munca-traiesc-in-romania-orasele-in-care-nu-locuieste-niciun-scriitor-12506378 ">2298 artists</a>. Therefore, Bucharest will be our starting point for our business.</p>
                <p class="text-muted">Further plans involve extending our business across the whole country, since Romania has over 24 000 restaurants, bars and cafes with over 10 000 artists, including actors, dancers, musicians.</p>
                    
            </div>
            <div class="col-md-2"></div>
        </div>
        
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                </span>

                <h4 class="service-heading">Competition</h4>
                <p class="text-muted">Our main competitors are the following:<ol>
                    <li class="text-justify"><b>OLX.ro</b> offers you the opportunity to publish free ads for your city and its surroundings. You will easily find on OLX.ro interesting free ads from Bucharest , Ilfov and other cities in the country and you will be able to easily get in touch with those who published them. On OLX.ro you will find jobs, apartments and rooms for rent, used cars and mobile phones at low prices. If you want to sell something, you can easily add free ads. If you want to buy something here you will be able to find the products that interest you at lower prices than in any store.</li>
                    
                    <li class="text-justify">On <b>publi24.ro</b> you can add free ads and find the best deals in Bucharest, Cluj, Timisoara and other cities in the country.
                        On our site you can find ads with used cars, apartments, houses, land or mobile phones at very good prices.
                        You can post a free ad, very quickly, with whatever you want to sell.</li>
                    <li class="text-justify"><b>fotografi-cameramani.ro</b>: We thought it would be great to have in one place, a single page to guide future brides to choose their wedding photographer and videographer. Thus, the bride and groom can make the right decision in a short time.</li>
                    
                </ol></p>
                <p class="text-muted">Our main advantage over the previous competitors is our focus on artists specifically, while our competitors offer a wider range of services and it's more difficult for organizers to find the right artists for their events. As we can see from the following search result from olx, we see that the results do not match our expectations when trying to find a DJ for an event. The same issue exists for publi24.ro.</p>
                <img src="img/m6/olx_search.PNG" class="img-responsive img-centered" alt="">
                <p class="text-muted">When it comes to fotografi-cameramani.ro, we see that they are specialised only for events photographers with a focus on weddings.</p>

                <p class="text-muted">In the global market there is a focus on a freelance type of business with specialised platforms such as <b>fiverr</b> and <b>upwork</b>. Our main advantage over them is the fact that we aim for live performances.</p>
                

                <h4 class="service-heading">Market share</h4>

                <p class="text-muted">Percentage of users from Romania<a href="https://www.gemius.com/all-reader-news/top-20-classified-ads-in-romania.html"><sup>[1]</sup></a>:<ol>
                    <li><b>OLX.ro</b> 37.6%</li>
                    <li><b>publi24.ro</b> 6.9%</li>
                    <li><b>fotografi-cameramani.ro</b> N/A</li>
                </ol></p>

            </div>
            <div class="col-md-2"></div>
        </div>
       
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                </span>

                <h4 class="service-heading">Potential Market Share After Launch</h4>
                <p>Our projection has been made taking into account the number of event anouncements on our competitors' platforms. We see that on olx there are roughly 7000 announcements for weddings, baptism or general events, about 2000 on publi24 and 3000 on fotografi-cameramani.</p>
                <p class="text-muted">Having gathered this data, we computed their market share as follows:<ol>
                    <li class="text-justify"><b>OLX.ro</b> 58%</li>
                    <li class="text-justify"><b>publi24.ro</b> 25%</li>
                    <li class="text-justify"><b>fotografi-cameramani.ro</b> 16%</li>
                </ol></p>
                <p class="text-muted">Taking into account our potential growth and market fluctuantions, we estimate the following market share results:
                <ol>

                    <b>First year: 500 artists target</b>
                    <li class="text-justify">olx:                  56%</li>
                    <li class="text-justify">Fotografi-cameramani: 24%</li>
                    <li class="text-justify">publi24.ro:           16%</li>
                    <li class="text-justify">AristyHub:            4%</li>

                    <b>Second year: 2000 artists target</b>  
                    <li class="text-justify">olx:                  50%</li>
                    <li class="text-justify">Fotografi-cameramani: 20%</li>
                    <li class="text-justify">publi24.ro:           15%</li>
                    <li class="text-justify">AristyHub:            15%</li> 

                    <b>Third year: 3000 artists target</b>
                    <li class="text-justify">olx:                  50%</li>
                    <li class="text-justify">Fotografi-cameramani: 19%</li>
                    <li class="text-justify">AristyHub:            19%</li>        
                    <li class="text-justify">publi24.ro:           12%</li>
                    
                    <b>Fourth year: 5000 artists target</b>
                    <li class="text-justify">olx:                  45%</li>
                    <li class="text-justify">AristyHub:            30%</li>        
                    <li class="text-justify">Fotografi-cameramani: 15%</li>
                    <li class="text-justify">publi24.ro:           10%</li>  
                   
                    <b>Fifth year: 7000 artists target</b>
                    <li class="text-justify">olx:                  38%</li>
                    <li class="text-justify">AristyHub:            38%</li>        
                    <li class="text-justify">Fotografi-cameramani: 14%</li>
                    <li class="text-justify">publi24.ro:           10%</li>   

                </ol></p>



            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                </span>

                <h4 class="service-heading">Potential Market Value After Launch</h4>
                <p>The event organizing industry has recorded a total of EUR 43 million in the last year.</p>
                <p class="text-muted">We estimate that in the next 5 years, our maket value will be as follows:<ol>
                <ol>

                    <b>First year</b>
                    <li class="text-justify">Market share: 4%</li>
                    <li class="text-justify">Market Value: EUR 1.72M</li>

                    <b>Second year</b>
                    <li class="text-justify">Market share: 15%</li>
                    <li class="text-justify">Market Value: EUR 7M</li>

                    <b>Third year</b>
                    <li class="text-justify">Market share: 19%</li>
                    <li class="text-justify">Market Value: EUR 9.17M</li>

                    <b>Fourth year</b>
                    <li class="text-justify">Market share: 30%</li>
                    <li class="text-justify">Market Value: EUR 13.5M</li>

                    <b>Fifth year</b>
                    <li class="text-justify">Market share: 38%</li>
                    <li class="text-justify">Market Value: EUR 20.34M</li>

                </ol></p>



            </div>
            <div class="col-md-2"></div>
        </div>
       


