<!-- description Section -->
<section id="m7">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">M7 - MVP</h2>
                <p><br></p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                </span>

                <p class="text-muted">Taking into consideration the insights we obtained from the validation milestones, we decided that our MVP must have the following functionalities implemented to meet the preferences of as many users as possible:</p>
                <h4 class="service-heading">Artists:</h4>
                    <li>The possibility to sign up as an artist</li>
                    <li>The possibility to create a customizable profile</li>        
                    <li>The possibility to show their portofolio</li>
                    <li>The possibility to get request from potential organizers</li>
                    <li>The possibility to apply to existing events</li>
                    <li>Online payment</li>        
                    <li>Integration with Google Calendar (a way of flexible scheduling)</li>
                    <li>The possibility to communicate with organizers through a chat</li>   
                <h4 class="service-heading">Organizers:</h4>
                    <li>The possibility to sign up as an organizer</li>
                    <li>The possibility to create an event with some specific details</li>        
                    <li>The possibility to send a request to the artist they want for their event</li>
                    <li>The possibility to evaluate the artists</li>
                    <li>Online payment</li>        
                    <li>The possibility to communicate with organizers through a chat</li>   
                <p><br></p>
            <p class="text-muted">Before implementing these features, we split them into 2 categories in order to prioritize them: the ones mandatory for a first verison of our platform and improvements that can be added later.</p>
            
            <p class="text-muted">In the following we will present the results we managed to achieve so far. We decided to focus on implementing a prototype, rather than an MVP, due to the short time. The main purpose of this was getting more validation from some potential users and deciding whether our solution goes in the right direction. Based on the feedback we got, we will improve the implementation and continue its validation.</p> 
            
            <h4 class="service-heading">Prototype</h4>
            <p class="text-muted">Currently, our platform contains the following functionalities:</p>
                <h4 class="service-heading">Artists:</h4>
                    <li> TBA </li>
                <h4 class="service-heading">Organizers:</h4>
                    <li> TBA </li>
            <h4 class="service-heading">Future steps towards MVP</h4>
            <p>We still have a lot of work to do, especially when it comes to the Back-End part of our platform.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        
    
    </div>
       


