<!-- description Section -->
<section id="m8">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">M8 - First Sale</h2>
                <p><br></p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>                
                <h4 class="service-heading">Introducing the MVP to customers</h4>
                <p class="text-muted">At this point, the implementation of the web application did not contain a lot of functionalities, as seen in the MVP, so the expectation for the first sale were not so high. However, we decided to have a first overview of what the possible customers think about the current state.</p>
                <p class="text-muted">Given the fact that the time was quite limited, we called for help for this milestone to a couple of friends which might be interested in organizing some private events. The website is an early prototype and further functionalities wil be added in a later release.</p>
                <p class="text-muted">The feedback that we got from some of the users that accessed our website was expected, being that it is still unfinished and there are many features which are not developed yet.</p>
                
            </div>
            <div class="col-md-2"></div>
        </div> 

        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                </span>                
                <h4 class="service-heading">User Feedback</h4>
                <li>The site is pretty easy to use, the user interface is friendly, but it does have some problems regarding to its functionality. When adding an event, you can't choose the time interval in which your event is taking place or slots for multiple artists. Also, the Details page for the artists does not give enough information.</li>
                <li>The site currently does not have any more features than the existing platforms, but it seems nice that it is a site created solely for artists and event organisers. The basic functionality is here, but i would like to see more features in the future, like login based on existing accounts from other social media or google maps integration for the location of the events.</li>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>  
        